# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- popular languages used by Data Scientists
- libraries used by Data Scientists
- tools used by Data Scientists
- arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists are:
1. NumPy
2. Pandas
3. Keras

| Tools |
| ------ |
|Apache Spark|
|Microsoft Visual Studio|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This  is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Aleksander